<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infoware {{title}}</title>
    {{>header}}
    <!-- include css files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <header>


                    {{#if message}}
                    <div id="msg">
                        <i class="fa fa-times" onclick="document.getElementById('msg').style.display='none'"></i>
                        <p>{{ message}}</p>
                    </div>
                    {{/if}}


                    <!-- navigation -->
                    <div class="navigation">
                        <div class="hamburger">
                            <div class=" fa fa-times ham_toggle"></div>
                        </div>
                        <nav>
                            <!-- logo -->
                            <div class="logo">
                                <h1>Info<span>Ware </span><code>{{#if user}}{{user}}{{/if}}</code></h1>
                            </div>

                            <!-- menu  -->
                            <div class="nav" id="nav">
                                <ul>
                                    <li><a href="/"> Shop </a></li>
                                    <li><a href="#">cart</a></li>
                                    <li><a class="active" href="/admin">admin</a></li>
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </header>

                <div class="baner">
                    <h2 class="main_heading">Shopping Items Details</h2>
                    <div class="items">







                        {{#if data}}
                        {{#each data}}


                        <div class="item">

                            <div class="item_img">
                                <img src="{{this.image}}" alt="{{this.image}}">
                            </div>

                            <div class="des">
                                <p>{{this.description}}</p>
                            </div>

                            <div class="footer">
                                <div class="rate">
                                    <p>$<span>{{this.rate}}</span> USD </p>
                                </div>
                                <div class="add">
                                    <button><a href="/itemdelete/{{this.id}}">Delete</a></button>
                                </div>
                            </div>

                        </div>

                        {{/each}}
                        {{/if}}


                        <div class="item insert_item"><a href="/insert">+</a></div>
                    </div> <br><br>

                    <h2 class="main_heading">Auth User Details</h2>
                    
                    <div class="auth-user">
                        <table cellspacing="0" border="1">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>


                        {{#if auth}}
                        {{#each auth}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.password}}</td>
                            <td><button>delete</button></td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </table>
                    </div> <br><br><br>

                </div>


            </div>
        </div>
    </div>



    <script src="/js/nav.js"></script>
</body>

</html>