<!DOCTYPE html>
<html lang="en">

<head>
    <title>GetArt {{title}}</title>
    {{>header}}
    <!-- include css files -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <header>


                    {{#if message}}
                    <div id="msg">
                        <i class="fa fa-times" onclick="document.getElementById('msg').style.display='none'"></i>
                        <p>{{ message}}</p>
                    </div>
                    {{/if}}


                    <!-- navigation -->
                    <div class="navigation">
                        <div class="hamburger">
                            <div class=" fa fa-times ham_toggle"></div>
                        </div>
                        <nav>
                            <!-- logo -->
                            <div class="logo">
                              <h1>Get<span>Art </span><code>{{#if user}}({{user}}){{/if}}</code></h1>
                            </div>

                            <!-- menu  -->
                            <div class="nav" id="nav">
                                <ul>
                                    <li><a href="/"> Shop </a></li>
                                    <li><a href="cart">cart</a></li>
                                    <li><a class="active" href="/admin">admin</a></li>
                                    <li><a href="/profile">profile</a></li>
                                    <li><a href="/logout">logout</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                </header>

                <div class="baner">
                    <h2 class="main_heading">Shopping Items Details</h2>
                    <div class="items">







                        {{#if data}}
                        {{#each data}}


                        <div class="item">

                            <div class="item_img">
                                <img src="{{this.image}}" alt="{{this.image}}">
                            </div>

                            <div class="des">
                                <p>{{this.title}}</p>
                            </div>

                            <div class="footer">
                                <div class="rate">
                                    <p>₹ <span> {{ this.rate}}</span>  </p>
                                </div>
                                <div class="add">
                                    <button><a href="/itemdelete/{{this.id}}">Delete</a></button>
                                </div>
                            </div>

                        </div>

                        {{/each}}
                        {{/if}}


                        <div class="item insert_item"><a href="/insert">+</a></div>
                    </div> <br><br>

                    <h2 class="main_heading">Auth User Details</h2>

                    <div class="auth-user">
                        <table cellspacing="0" border="1">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th colspan="2">Actions</th>
                            </tr>


                            {{#if auth}}
                            {{#each auth}}
                            <tr>
                                <form action="/userupdate" method="POST">
                                    <td><input value="{{this.id}}" name="id" class="id" readonly="true"></td>
                                    <td><input value="{{this.name}}" name="name" autofocus="true"></td>
                                    <td><input value="{{this.username}}" name="username"></td>
                                    <td><input value="{{this.password}}" name="password"></td>
                                    <td>
                                        <button><a href="/userdelete/{{this.id}}">delete</a></button>
                                        <button type="submit">update</button>
                                    </td>
                                </form>
                            </tr>
                            {{/each}}
                            {{/if}}
                        </table>
                    </div>
                    <div class="copyright">Copyright &copy; kamleen
                        <script>document.write(new Date().getFullYear());</script>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <script src="/js/nav.js"></script>
</body>

</html>